MES.UI/Service References/Report/Report1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://127.0.0.1:8000/Report?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MES.Server.Model" />
  <xs:element name="GetCard">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cardNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MES.Server.Model" minOccurs="0" name="GetCardResult" nillable="true" type="q1:Card" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OperationStart">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MES.Server.Model" minOccurs="0" name="cards" nillable="true" type="q2:ArrayOfCardMain" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OperationStartResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportOP">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MES.Server.Model" minOccurs="0" name="detail" nillable="true" type="q3:CardDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportOPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReportOPResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOperationList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOperationListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MES.Server.Model" minOccurs="0" name="GetOperationListResult" nillable="true" type="q4:ArrayOfOperation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/MES.Server.Model" minOccurs="0" name="GetPersonListResult" nillable="true" type="q5:ArrayOfPerson" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportCanel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cardNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportCanelResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SplitCard">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cardNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="splitQty" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SplitCardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SplitCardResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVersion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVersionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/MES.Server.Model" minOccurs="0" name="GetVersionResult" nillable="true" type="q6:MESVerion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>