MES.UI/Service References/UserManager/UserManager1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UserManager" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.1.88:8000/UserManager?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.1.88:8000/UserManager?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.1.88:8000/UserManager?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MES.Server.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="UserManager_U8Login_InputMessage">
    <wsdl:part name="parameters" element="tns:U8Login" />
  </wsdl:message>
  <wsdl:message name="UserManager_U8Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:U8LoginResponse" />
  </wsdl:message>
  <wsdl:message name="UserManager_U8LoginSer_InputMessage">
    <wsdl:part name="parameters" element="tns:U8LoginSer" />
  </wsdl:message>
  <wsdl:message name="UserManager_U8LoginSer_OutputMessage">
    <wsdl:part name="parameters" element="tns:U8LoginSerResponse" />
  </wsdl:message>
  <wsdl:message name="UserManager_GetFtpUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFtpUser" />
  </wsdl:message>
  <wsdl:message name="UserManager_GetFtpUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFtpUserResponse" />
  </wsdl:message>
  <wsdl:portType name="UserManager">
    <wsdl:operation name="U8Login">
      <wsdl:input wsaw:Action="http://tempuri.org/UserManager/U8Login" message="tns:UserManager_U8Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/UserManager/U8LoginResponse" message="tns:UserManager_U8Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="U8LoginSer">
      <wsdl:input wsaw:Action="http://tempuri.org/UserManager/U8LoginSer" message="tns:UserManager_U8LoginSer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/UserManager/U8LoginSerResponse" message="tns:UserManager_U8LoginSer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFtpUser">
      <wsdl:input wsaw:Action="http://tempuri.org/UserManager/GetFtpUser" message="tns:UserManager_GetFtpUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/UserManager/GetFtpUserResponse" message="tns:UserManager_GetFtpUser_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_UserManager" type="tns:UserManager">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="U8Login">
      <soap:operation soapAction="http://tempuri.org/UserManager/U8Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="U8LoginSer">
      <soap:operation soapAction="http://tempuri.org/UserManager/U8LoginSer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFtpUser">
      <soap:operation soapAction="http://tempuri.org/UserManager/GetFtpUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserManager">
    <wsdl:port name="BasicHttpBinding_UserManager" binding="tns:BasicHttpBinding_UserManager">
      <soap:address location="http://192.168.1.88:8000/UserManager" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>