MES.UI/Service References/UserManager/UserManager32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MES.Server.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MES.Server.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="ConnStr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ConnU8" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UFDB" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserRole" nillable="true" type="tns:ArrayOfUserRole" />
      <xs:element minOccurs="0" name="cDept" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cUnitName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cUser_Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cUser_Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfUserRole">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserRole" nillable="true" type="tns:UserRole" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserRole" nillable="true" type="tns:ArrayOfUserRole" />
  <xs:complexType name="UserRole">
    <xs:sequence>
      <xs:element minOccurs="0" name="RoleId" type="xs:int" />
      <xs:element minOccurs="0" name="RoleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cUser_Id" type="xs:int" />
      <xs:element minOccurs="0" name="cUser_Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserRole" nillable="true" type="tns:UserRole" />
  <xs:complexType name="FtpUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="FtpAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FtpPassword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FtpUserId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FtpUser" nillable="true" type="tns:FtpUser" />
</xs:schema>